# Importing Libraries

In [5]:
# For Manipulation
import numpy as np
import pandas as pd

In [6]:
#For data visualization
import matplotlib.pyplot as plt
import seaborn as sns
plt.style.use('fivethirtyeight')


#For interactivity
import ipywidgets
from ipywidgets import interact

# Reading the Dataset

In [8]:
#Reading the dataset
data = pd.read_csv('dataset.csv')

#Checking the Shape of the Dataset
print("Shape of the Dataset : ",data.shape)

Shape of the Dataset :  (2200, 8)

In [9]:
#Checking the Head of the Dataset
data.head()

    N   P   K  temperature   humidity        ph    rainfall label
0  90  42  43    20.879744  82.002744  6.502985  202.935536  rice
1  85  58  41    21.770462  80.319644  7.038096  226.655537  rice
2  60  55  44    23.004459  82.320763  7.840207  263.964248  rice
3  74  35  40    26.491096  80.158363  6.980401  242.864034  rice
4  78  42  42    20.130175  81.604873  7.628473  262.717340  rice

In [10]:
#Lets check if there is any missing values in the dataset
data.isnull().sum()

N              0
P              0
K              0
temperature    0
humidity       0
ph             0
rainfall       0
label          0
dtype: int64

In [11]:
#Let's check Crops present in this Dataset
data['label'].value_counts()

rice           100
maize          100
jute           100
cotton         100
coconut        100
papaya         100
orange         100
apple          100
muskmelon      100
watermelon     100
grapes         100
mango          100
banana         100
pomegranate    100
lentil         100
blackgram      100
mungbean       100
mothbeans      100
pigeonpeas     100
kidneybeans    100
chickpea       100
coffee         100
Name: label, dtype: int64